<div class="user d-flex align-items-start flex-row">
        <div class="user__image">
                <img src="~images/user/rostova.jpg" alt="Вероника Ростова">
        </div> 
        <div class="d-flex align-items-start flex-column">
                <div class="user__title">
                        <span class="user__title_name">
                                Вероника Ростова
                            </span>
                            <span class="user__title_profession">
                                Менеджер по продажам
                            </span>
                </div>
            
            <div class="user__description">
                Подберу для вас самые лучшые предложения.
                Мои услуги абсолютно бесплатны
            </div>
        </div>        
       
</div>
   